.player_image {
	position: absolute;
	width: auto;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.text_size_small {
	line-height: 16px;
	font-size: 10px;
	font-family: sans-serif;
}

.text_size_medium {
	line-height: 18px;
	font-size: 12px;
	font-family: sans-serif;
}

.text_size_large {
	line-height: 20px;
	font-size: 14px;
	font-family: sans-serif;
}

.text_color_black {
	color: #000000;
	text-align: center;
	text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 0 0 4px #ffffff;
	z-index: 1;
	pointer-events: none;
}

.text_color_white {
	color: #ffffff;
	text-align: center;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, 0 0 4px #000000;
	z-index: 1;
	pointer-events: none;
}

.button_size_small {
	text-align: center;
	line-height: 28px;
	font-size: 8px;
	font-weight: bold;
	font-family: sans-serif;
	width: 32px;
	height: 32px;
	left: -16px;
	cursor: pointer;
	z-index: 1;
	pointer-events: all;
}

.button_size_medium {
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	font-family: sans-serif;
	width: 48px;
	height: 48px;
	left: -24px;
	cursor: pointer;
	z-index: 1;
	pointer-events: all;
}

.button_size_large {
	text-align: center;
	line-height: 56px;
	font-size: 24px;
	font-weight: bold;
	font-family: sans-serif;
	width: 64px;
	height: 64px;
	left: -32px;
	cursor: pointer;
	z-index: 1;
	pointer-events: all;
}

.button_color_black {
	color: #ffffff;
	box-shadow: 0 0 2px #00000044;
	text-shadow: 0 0 2px #00000066;
	background-color: #000000;
}

.button_color_white {
	color: #000000;
	box-shadow: 0 0 2px #00000044;
	text-shadow: 0 0 2px #ffffff66;
	background-color: #ffffff;
}

.button_color_red {
	color: #ffffff;
	box-shadow: 0 0 2px #00000044;
	text-shadow: 0 0 2px #00000066;
	background-color: #aa2200;
}

.button_color_yellow {
	color: #ffffff;
	box-shadow: 0 0 2px #00000044;
	text-shadow: 0 0 2px #00000066;
	background-color: #aa8800;
}

.button_color_green {
	color: #ffffff;
	box-shadow: 0 0 2px #00000044;
	text-shadow: 0 0 2px #00000066;
	background-color: #00aa00;
}

.button_color_cyan {
	color: #ffffff;
	box-shadow: 0 0 2px #00000044;
	text-shadow: 0 0 2px #00000066;
	background-color: #0088aa;
}

.button_color_blue {
	color: #ffffff;
	box-shadow: 0 0 2px #00000044;
	text-shadow: 0 0 2px #00000066;
	background-color: #0022aa;
}

.button_color_pink {
	color: #ffffff;
	box-shadow: 0 0 2px #00000044;
	text-shadow: 0 0 2px #00000066;
	background-color: #aa0088;
}

.item_controls {
	position: absolute;
	overflow: auto;
	line-height: 20px;
	font-size: 14px;
	font-family: sans-serif;
}

.item_controls_position {
	top: 0%;
	left: 85%;
	width: 15%;
	height: 100%;
}

.item_media {
	position: absolute;
	overflow: hidden;
	line-height: 20px;
	font-size: 14px;
	font-family: sans-serif;
}

.item_media_position_attached {
	top: 80%;
	left: 0%;
	width: 100%;
	height: 20%;
}

.item_media_position_detached {
	top: 80%;
	left: 0%;
	width: 85%;
	height: 20%;
}

.item_media_background_attached {
	background-image: linear-gradient(to bottom, #00000000, #000000aa);
}

.item_media_background_detached {
	background-image: linear-gradient(to bottom, #00000011, #00000000);
}

.item_player {
	position: absolute;
	overflow: hidden;
	background-color: #000000;
}

.item_player_position_attached {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.item_player_position_detached {
	top: 0%;
	left: 0%;
	width: 85%;
	height: 80%;
}

.item_thumbnail_image {
	text-align: center;
	width: 88px;
	height: 88px;
	left: -44px;
	background-color: #eeeeee;
	z-index: 1;
	pointer-events: all;
}

.item_thumbnail_ring {
	text-align: center;
	width: 96px;
	height: 96px;
	left: -48px;
	background-color: #ffffff;
	z-index: 1;
	pointer-events: all;
}

.effect_shape_square {
	border-radius: 10%;
	transition: border-radius 0.5s, background-color 0.25s;
}

.effect_shape_round {
	border-radius: 100%;
	transition: border-radius 0.5s, background-color 0.25s;
}
